* {
    margin: auto;
    box-sizing: border-box;
}
body {
    background-color: #5C98CF;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}
.form {
    width: 1000px;
    height: auto;
    background-color: #D3E4F7;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    flex-direction: row;
    transition: 0.4s;
}
.log {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    text-align: center;
}
.log p {
    text-align: left;
}
input {
    text-align: center;
    color: #284e70;
    font-family: 'Roboto Mono';
    width: 400px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
}
.photo {
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100%;
}
p {
    font-size: 25px;
    color: #284e70;
    font-family: 'Roboto Mono';
    transition-duration: 0.4s;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    margin-top: 25px;
    background-color: #E27882;
    border-radius: 10px;
    width: 200px;
    height: 45px;
    text-decoration: none;
    transition-duration: 0.4s;
}
.button:hover p {
    color: #E27882;
}
.button:hover {
    background-color: #9AA2CB;
    cursor: pointer;
}
.switch {
    margin-top: 30px;
    width: 400px;
    height: 50px;
}
.switch p {
    color: #FDFBFB;
}
#signupbutton {
    width: 150px;
    height: 50px;
    background-color: #5C98CF;
    display: flex;
    text-align: center;
    border-radius: 10px;
}
#signup {
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    background-color: #D3E4F7;
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: -999;
    visibility: hidden;
}
#signup p {
    text-align: left;
}
#cross {
    position: absolute;
    left: 0;
    top: 0;
    margin: 20px;
    font-size: 25px;
    color: #284e70;
}
/* Mobil uyumluluk için media sorgusu */
@media (max-width: 500px) {
    .form {
        width: 85%;
        height: 40%;
    }
    .log {
        font-size: 25px;
    }
    .log p {
        font-size: 20px;
    }
    input {
        width: 35vh;
        height: 40px;
        font-size: 17px;
    }
    .photo {
        visibility: hidden;
    }
    img {
        width: 0px;
    }
    .button {
        margin-top: 15px;
        width: 120px;
        height: 35px;
    }
    .switch {
        width: 150px;
        height: 35px;
        margin-bottom: 10px;
    }
    .switch p {
        font-size: 15px;
    }
    #signupbutton {
        width: 85px;
        height: 30px;
    }
    #signup {
        width: 275px;
        height: 350px;
        z-index: -999;
    }
    #signup p {
        font-size: 15px;
    }
    #signup input {
        width: 22vh;
        height: 40px;
        font-size: 17px;
    }
    #cross {
        margin: 10px;
    }
}
@media (max-width: 650px) and (min-width: 500px){
    .form {
        width: 75%;
    }
    .log {
        font-size: 15px;
    }
    input {
        width: 75%;
        height: 25px;
        font-size: 15px;
    }
    .photo {
        width: 100%;
    }
    img {
        width: 100%;
    }
    p {
        font-size: 15px;
    }
    .button {
        margin-top: 10px;
        width: 120px;
        height: 25px;
        font-size: 20px;
    }
    .switch {
        width: 150px;
        height: 25px;
    }
    .switch p {
        font-size: 15px;
    }
    #signupbutton {
        width: 75px;
        height: 25px;
        margin-top: -15px;
    }
    #signup {
        width: 250px;
        height: 250px;
        z-index: -999;
    }
    #signup p {
        font-size: 15px;
    }
    #cross {
        margin: 10px;
    }
}
@media (max-width: 1000px) and (min-width: 650px){
    .form {
        width: 75%;
    }
    .log {
        font-size: 15px;
    }
    input {
        width: 85%;
        height: 40px;
        font-size: 20px;
    }
    .photo {
        width: 100%;
    }
    img {
        width: 100%;
    }
    p {
        font-size: 20px;
    }
    .button {
        margin-top: 15px;
        width: 120px;
        height: 35px;
        font-size: 25px;
    }
    .switch {
        width: 200px;
        height: 25px;
    }
    .switch p {
        font-size: 15px;
    }
    #signupbutton {
        width: 50%;
        height: 35px;
        margin-top: -15px;
    }
    #signup {
        width: 375px;
        height: 375px;
        z-index: -999;
    }
    #signup p {
        text-align: left;
    }
}
